@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Barlow:wght@300&family=Nunito+Sans:wght@200&family=Nunito:wght@600&family=Poppins&family=Roboto:wght@700&family=Secular+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
/* INICIO CABECERA */
.cabecera{
    background-color:  #faffff;
    padding: 15px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.primerTitulo{
    font-size: 25px;
    font-family: 'Secular One', sans-serif;

}

.navegacion a{
    font-size: 15px;
    font-family: 'Secular One', sans-serif;
    color: black;
    text-decoration: none;
    margin-left: 20px;
}

.contenedorIconos i{
    margin-right: 12px;
    color:#4D555A
}
/*FIN CABECERA */
.hero{

    background-color:deepskyblue;
    padding-top: 190px;
    padding-bottom: 190px;
    display: flex;
    align-items: center;
    
    
}


.textoHero{
    padding-left: 350px;
    
}

.textoHero h2{
    font-size: 40px;
    font-family: 'Nunito Sans', sans-serif;
   
}
.textoHero h1{
    font-size: 75px;
    font-family: 'Secular One', sans-serif;

}
.textoHero p{
    font-size: 30px;
    
}
.miImagen{
    padding-left: 150px;
}

.miImagen img{
    width: 50%;
    border-radius: 50%;
    padding: 11px;
    background-color: aliceblue;
    
}

.botonIntro{
    width: 210px;
    height: 55px;
    font-size: 20px;
    color: white;
    background-color: black;
    margin-top: 20px;
}

.aboutMe{
    background-color: #faffff;
    padding: 60px 0;
    
}

.aboutMeTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.aboutMeTitulo p{
    background-color: deepskyblue;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.aboutMeTitulo h1{
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
}

.textoAboutMe{
   font-size: 25px;
  
   
}

.textoAboutMe h1{
    font-size: 40px;
    color: #212529;
    font-family: 'Poppins', sans-serif;
}
.nombreAboutMe{
    font-size: 40px;
    color: #212529;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline deepskyblue;
}

.pAboutMe{
    font-family: 'Barlow', sans-serif; 
}

.logoExperiencia{
  
   
    
}

.logoExperiencia img{
    width: 180px;
    margin-right: 68px;
}
.logoExperiencia h1{
    font-family: 'Times New Roman', Times, serif;
}
.DATOS{
    display: flex;
    justify-content:space-evenly;
    margin-top: 5%;
}
.DATOS a{
    text-decoration: none;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.pDatos{
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    color: #6D767E;
}
.pDatos2{
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}
.quePuedoHacer{
    background-color: #faffff;
    padding: 200px 0;
    
}
.quePuedoHacerTitulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    
}

.parrafoQuepuedoHacer{
    font-size: 16px;
    margin-bottom: 15px;
    background-color: deepskyblue;
}

.h1QuePuedoHacer{
    font-size: 35px; 
}


.contenedorIconosYtexto{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 70px;
   
}

.contenedorIconosYtexto img{
    width: 90px;
}

.uno, .dos, .tres, .cuatro, .cinco, .seis{
    text-align: center;
    width: 400px;
    padding: 40px;
    height: 250px;
}

.resume{
    background-color: #faffff;
    padding: 350px 0;
    font-family: 'Poppins', sans-serif;
    
}

.tituloResume{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    
    
}

.parrafoResume{
    font-size: 16px;
    background-color: deepskyblue;
}

.h1Resume{
    font-size: 40px;
}

.h1edu{
    font-size: 30px;
}

.h1exp{
    font-size: 30px;
}

.educacionExperiencia{
    display: flex;
    justify-content: center;
    
   
}
.educacionExperiencia hr{
    margin-top: 17px;
}

.educacionExperiencia h2{
    margin-top: 17px;
    
}

.educacionExperiencia p{
    margin-top: 10px;
}

.educacion, .experienciaResume{
    width: 600px;
    padding-top: 100px;
    padding-left: 80px;
    margin-left: 50px;
}

.bordeEducacion{
    border-left: solid 3px deepskyblue;
    padding-left: 13px;  
}

.bordeExperiencia{
    border-left: solid 3px deepskyblue;
    padding-left: 13px;  
}

.skills{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.h1skills{
    display: flex;
    justify-content: center;
    width: 700px;
    text-align: center;
    padding-left: 95px;
    padding-top: 70px; 
}
.skillPorcentaje{
   display: flex;
   justify-content: space-between;
}
.contenedor{
    width: 600px; 
    padding-left: 100px;
    padding-top: 25px; 
}
.barra1{
    width: 390px;
    height: 10px;
    background-color:  rgba(0, 191, 255, 0.88);
    border-radius: 100px;
}

.contenedorBarra1{
    width: 600px;
    height: 10px;
    background-color: darkgray;
    border-radius: 100px;
    margin-top: 12px;
    
}

.barra2{
    width: 420px;
    height: 10px;
    background-color:  rgba(0, 191, 255, 0.88);
    border-radius: 100px;
}

.contenedorBarra2{
    width: 600px;
    height: 10px;
    background-color: darkgray;
    border-radius: 100px;
    margin-top: 12px;
    
}

.barra3{
    width: 570px;
    height: 10px;
    background-color:  rgba(0, 191, 255, 0.88);
    border-radius: 100px;
}

.contenedorBarra3{
    width: 600px;
    height: 10px;
    background-color: darkgray;
    border-radius: 100px;
    margin-top: 12px;
    
}

.barra4{
    width: 360px;
    height: 10px;
    background-color:  rgba(0, 191, 255, 0.88);
    border-radius: 100px;
}

.contenedorBarra4{
    width: 600px;
    height: 10px;
    background-color: darkgray;
    border-radius: 100px;
    margin-top: 12px;
    
}

.barra5{
    width: 480px;
    height: 10px;
    background-color:  rgba(0, 191, 255, 0.88);
    border-radius: 100px;
}

.contenedorBarra5{
    width: 600px;
    height: 10px;
    background-color: darkgray;
    border-radius: 100px;
    margin-top: 12px;
    
}

.barra6{
    width: 594px;
    height: 10px;
    background-color: rgba(0, 191, 255, 0.88);
    border-radius: 100px;
}

.contenedorBarra6{
    width: 600px;
    height: 10px;
    background-color: darkgray;
    border-radius: 100px;
    margin-top: 12px;
    
}

.contenedorBotonDescargarCV{
   display: flex;
   justify-content: center;
   margin-top: 80px;
}

.botonDescargarCV{
    width: 190px;
    height: 50px;
    background-color: #faffff;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    border: solid black 2px;
    cursor: pointer;
    transition: .5;
}


.botonDescargarCV:hover{
    background-color: rgba(0, 191, 255, 0.88);
    transition: .5s;
    color: #faffff;
}

.portfolio{
    background-color:#faffff;
    padding: 350px 0;
    font-family: 'Poppins', sans-serif;

}

.parrafoytituloPortfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parrafoytituloPortfolio p{
    background-color: deepskyblue;
}
.proyectosPortfolio{
    display: flex;
    justify-content: center;
}

.proyectosPortfolio p{
    margin-left: 20px;
    margin-top: 45px;
    font-size: 15px;

}

.imagenesPortfolio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.imagenesPortfolio img{
    width: 95%;
    height: 430px;
    border: solid black 1px;
}


.imagen1, .imagen2, .imagen3, .imagen4, .imagen5, .imagen6{
    width: 500px;
    height: 455px;
}


.footer{
    background-color: darksalmon;
    padding: 150px 0;
}
